table,
tr,
td,
th {
    border: 2px solid blue;
    border-collapse: collapse;
}

th,
td {
    color: green;
    padding: 20px;
}

table {
    caption-side: bottom;
    margin-top: 100px;
    width: 70%;
}

td {
    text-align: center;
}

hr {
    border: 5px solid magenta;
}

caption {
    color: green;
}

table tr th:nth-child(even) {
    background-color: rgb(155, 155, 255);
}

table tr td:nth-child(odd) {
    background-color: tomato;
}

tr#red_row td:nth-child(even) {
    background-color: red;
}